/*vamos precisar definit variaveis,para modo ESCURO , a regra vai ser no js*/
/*como defino estas variaveis? posso colocar no root*/
:root{
    /*a cor de fundo*/
    --bg:white;
    --texto:rgb(99, 99, 99);
    --borda:#e5e7eb;
    --caixa:#f8f9fc;
    --acao:#2563eb;
}
[data-tema="escuro"]{
    /*quando este atributo estiver vigente , as variaveis sara substituida*/
    /*quando a variavel trocar ,vai mudar automaticamente a cor*/
    --bg:#0b1220;
    --texto:#e5e7eb;
    --borda:#1f2937;
    --caixa:#111827;
    --acao:#38bdf8;

}

*{
    box-sizing: border-box;
    /**/
}

html, body{
    height: 100%;
    /*preencher a tela toda*/

}

/*algumas regras pro body*/
body{
    margin: 0;/*resetar a margem do html*/
    font-family: Arial, Helvetica, sans-serif;/*fonte*/
    min-height:100vh ;/*altura minima, aqui meu body vai preencher 100% da tela*/
    display: flex;/*ativando o flex,um do lado do outro,padrao do flex*/
    flex-direction: column;/*escolhendo a direção ,coluna*/

    /*vamos trabalhar o tema*/
    background-color: var(--bg);
    color: var(--texto);/*cor de todos os elementos*/




}
.topo{
    border-bottom: 1px solid var(--borda);
}
.topo .container{
    display: flex;/*ativando*/
    align-items: center;
    justify-content: space-around;/*mas centralizado , o bet deixou cada um no seu canto,muito distante*/
    padding: .75rem 1rem;/*o rem e melhor que o pixel,pois ele acompanha a tela*/


}
.caixa{
    border: 1px solid var(--borda);
    background-color: var(--caixa);
    border: .5rem;
    border-radius: .5rem;
    padding: 2rem 1rem ;
    margin: 1.5rem auto;
    
    max-width: 80%;/*limitar*/

}
h1{
    margin-bottom: .5rem;
    font-size: 1.6rem;

}
p{
    margin: 1rem 0;/*em baixo e em cima*/


}
form{
    display: grid;/*os elementos ficam um abaixo do outro*/
    gap: .5rem;/*afastar um do outro*/


}
label{
    font-weight: 600;
}
input{
    padding: .7rem .9rem;
    border: 1px solid var(--borda);
    border-radius: .5rem;
    background-color: var(--bg);
    color: var(--texto);


}
.btn{
    padding: .6rem .9rem;/*desta maneira da um espaçamento tambem da fonte*/
    border: 1px solid var(--borda);
    background-color: var(--bg);
    color: var(--texto);
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;/*so para afastar um pouquinho*/
    max-width: 250px;/*tamanho do botao*/

}
.btn.primario{

    margin-top: 1rem;
    background-color: var(--acao);
    color: white;

}
.rodape{
    border-top: 1px solid var(--borda);
    height: 65px;
    display: flex;/*ativando o flex*/
    align-items: center;
    justify-content: center;
    color: #6b7280;
    margin-top: auto;
}